{{- $ctx := . -}}
{{- $pass := true -}}
{{- $page := .Page -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "") -}}
FAIL: Check empty string ("") is not external (is false), (got true)
{{- else -}}
PASS: Check empty string ("") is not external (is false), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" " ") }}
FAIL: Check space (" ") is not external (is false), (got true)
{{- else }}
PASS: Check space (" ") is not external (is false), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "a-string") }}
FAIL: Check basic string ("a-string") is not external (is false), (got true)
{{- else }}
PASS: Check basic string ("a-string") is not external (is false), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "a-string.tld") }}
FAIL: Check basic string with dot ("a-string.tld") is not external (is false), (got true)
{{- else }}
PASS: Check basic string with dot ("a-string.tld") is not external (is false), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "//a-string") }}
PASS: Check basic string started with two slashes ("//a-string") is external (is true), (got true)
{{- else }}
FAIL: Check basic string started with two slashes ("//a-string") is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "user@example.net") }}
FAIL: Check bare email address (user@example.net) is not external (is false), (got true)
{{- else }}
PASS: Check bare email address (user@example.net) is not external (is false), (got false)
{{- end -}}{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "//a-string.tld") }}
PASS: Check basic string with dot and started with two slashes ("//a-string.tld") is external (is true), (got true)
{{- else }}
FAIL: Check basic string with dot started with two slashes ("//a-string.tld") is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "https://example.org") }}
PASS: Check scheme + host (https://example.org) is external (is true), (got true)
{{- else }}
FAIL: Check scheme + host (https://example.org) is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "https://example.org/link") }}
PASS: Check scheme + host + path (https://example.org/link) is external (is true), (got true)
{{- else }}
FAIL: Check scheme + host + path (https://example.org/link) is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "https://example.org/link#an-anchor") }}
PASS: Check scheme + host + path + fragment (https://example.org/link#an-anchor) is external (is true), (got true)
{{- else }}
FAIL: Check scheme + host + path + fragment (https://example.org/link#an-anchor) is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "https://example.org/link?query") }}
PASS: Check scheme + host + path + query (https://example.org/link?query) is external (is true), (got true)
{{- else }}
FAIL: Check scheme + host + path + query (https://example.org/link?query) is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "mailto:user@example.net") }}
PASS: Check scheme + email address (mailto:user@example.net) is external (is true), (got true)
{{- else }}
FAIL: Check scheme + email address (mailto:user@example.net) is external (is true), (got false)
{{- end -}}
{{- if partial "helpers/functions/is-external-destination.html" (dict "Destination" "tel:+15555555555") }}
PASS: Check scheme + (fake) telephone number (tel:+15555555555) is external (is true), (got true)
{{- else }}
PASS: Check scheme + (fake) telephone number (tel:+15555555555) is external (is true), (got false)
{{- end -}}
