{{- $destination := . -}}
{{- $path := "" -}}
{{- $fragment := "" -}}
{{- $external := false -}}}
{{- $inUrl := urls.Parse $destination -}}
{{- with $inUrl -}}
	{{- /* We treat absolute URLs (that include http/https/mailto/etc and/or host) as external */ -}}
	{{- if or .Host .Scheme -}}
		{{- $external = true -}}
	{{- else if .Fragment -}}
		{{- $fragment = .Fragment -}}
	{{- end -}}
{{- else -}}
	{{- errorf printf "Unable to parse link destination '%s'" $destination -}}
{{- end -}}
{{- return $fragment -}}
{{- /* Remove trailing newlines */ -}}
